pipeline/SalesDataCustomerpipeline.json
{
	"name": "SalesDataCustomerpipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup5",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct month (ModifiedDate) as month , year (ModifiedDate ) as year , day (ModifiedDate) as day, ModifiedDate from Sales.SalesOrderDetail",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable9",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup5').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select Salesorderid, salesorderdetailid, orderqty, productid, unitprice, linetotal from saleslt.SalesOrderDetail where modifieddate = '@{item().modifieddate}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Salesorderid",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"type": "Int32",
												"physicalType": "Int32",
												"ordinal": 1
											}
										},
										{
											"source": {
												"name": "salesorderdetailid",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"type": "Int32",
												"physicalType": "Int32",
												"ordinal": 2
											}
										},
										{
											"source": {
												"name": "orderqty",
												"type": "Int16",
												"physicalType": "smallint"
											},
											"sink": {
												"type": "Int16",
												"physicalType": "Int16",
												"ordinal": 3
											}
										},
										{
											"source": {
												"name": "productid",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"type": "Int32",
												"physicalType": "Int32",
												"ordinal": 4
											}
										},
										{
											"source": {
												"name": "unitprice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"type": "Decimal",
												"physicalType": "Decimal",
												"ordinal": 5
											}
										},
										{
											"source": {
												"name": "linetotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 38
											},
											"sink": {
												"type": "Decimal",
												"physicalType": "Decimal",
												"ordinal": 6
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable10",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@item().year",
											"type": "Expression"
										},
										"month": {
											"value": "@item().month",
											"type": "Expression"
										},
										"day": {
											"value": "@item().day",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}